<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <title>Music</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action="/" method="post">
                    <input name="artist" type="text" placeholder="Artist">
                    <input name="album" type="text" placeholder="Album">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </body>
</html>
